@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";
@import "./global/footer.css";

/* utilidades */
@import "./utilidades/componentes.css";


/* home */
@import "./home/indroducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";



/* bicicletas */
@import "./bicicletas/bicicletas-listas.css";

/* seguros */
@import "./seguros/seguros.css";


