body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 600px;
}

ul{
  padding: 0;
  list-style: none;
}
h1,ul,p{
  margin: 0px;
}

a{
  text-decoration: none;
  color: inherit;
}
img{
  max-width: 100%;
  display: block;
}
